[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/inn-goose/blog.git
